*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cipd
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/build
/buildtools
/ios
/mojo
/out
/testing
/third_party
/tools
/tools_webrtc/android/profiling/flamegraph
/tools_webrtc/android/profiling/simpleperf
/tools_webrtc/audio_quality/linux/pesq
/tools_webrtc/audio_quality/linux/PolqaOem64
/tools_webrtc/audio_quality/mac/pesq
/tools_webrtc/audio_quality/win/*.exe
/tools_webrtc/audio_quality/win/*.dll
/tools_webrtc/video_quality_toolchain/linux/ffmpeg
/tools_webrtc/video_quality_toolchain/linux/zxing
/tools_webrtc/video_quality_toolchain/mac/ffmpeg
/tools_webrtc/video_quality_toolchain/mac/zxing
/tools_webrtc/video_quality_toolchain/win/*.dll
/tools_webrtc/video_quality_toolchain/win/*.exe
/rtc_tools/testing/*.zip
/rtc_tools/testing/*.gz
/rtc_tools/testing/golang/*/*.gz
/rtc_tools/testing/golang/*/*.zip
/x86-generic_out/
/xcodebuild
/.vscode
examples/html/simple_demo/node_modules
!webrtc/*

test/*

Server/bin
Server/log
Server/vsout
Server/.vs 
Server/Server/*.dll
server/Server/log

ShareProto/Proto/personTest_pb.js
cache-v2
clion-environment.txt
vcs.xml
Server/.idea/.gitignore
Server/.idea/misc.xml
Server/.idea/modules.xml
Server/cmake-build-debug/CMakeCache.txt
Server/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Server/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Server/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Server/cmake-build-debug/CMakeFiles/clion-log.txt
Server/cmake-build-debug/CMakeFiles/cmake.check_cache
Server/cmake-build-debug/CMakeFiles/CMakeOutput.log
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.o
Server/.idea/.name
Server/cmake-build-debug/cmake_install.cmake
Server/cmake-build-debug/Makefile
Server/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e042d62aaafa30dc6242.json
Server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f9a4f90169faccdba5eb.json
Server/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8cfcf0b2138c5b265970.json
Server/cmake-build-debug/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
Server/cmake-build-debug/.cmake/api/v1/reply/directory-Server-Release-32374a7e03b102ec7378.json
Server/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-17T14-39-27-0635.json
Server/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ff5a8d0393c9d28f40b5.json
Server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Server/cmake-build-debug/CMakeFiles/Makefile.cmake
Server/cmake-build-debug/CMakeFiles/Makefile2
Server/cmake-build-debug/CMakeFiles/progress.marks
Server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Server/cmake-build-debug/Server/cmake_install.cmake
Server/cmake-build-debug/Server/Makefile
Server/cmake-build-debug/Server/CMakeFiles/CMakeDirectoryInformation.cmake
Server/cmake-build-debug/Server/CMakeFiles/progress.marks
Server/www/node_modules
Server/www/logs
Server/chensong.log
Server/www/logs
 
Server/www/app.log
Server/Server/webrtc_offer_1.sdp
Server/www/package-lock.json
Server/Robot/cow.ive
Server/Robot/log
 
Server/Server.VC.db
Server/Server/webrtc_offer555.sdp
Server/Server/api_rtc_sdp.sdp
Server/www/node_modules_old/ 
Server/rtc_publisher/log/
Server/www/test/node_modules/*
/Server/www/test/node_modules
Server/enc_temp_folder/876bc5794ac9cbfafa1ac26d411af93f/crtc_transport.h
Server/enc_temp_folder/b3d7b36eee8380feb2fa660629e177c/crtc_transport.cpp
Server/enc_temp_folder/64457183f1aeceb9aaf16f2dc6ec15/RtpPacket.cpp
Server/enc_temp_folder/3c5679c976813e4b8b5fdaf75159757/cmedia_desc.cpp
Server/enc_temp_folder/59414cc9555af86caf647bcac22d28a/capi_rtc_player.cpp
Server/enc_temp_folder/2872ac409d629a50ec53b92c62401891/crtc_transport.cpp
Server/enc_temp_folder/d1474b4781cf668bd5aee6ff1c15e72b/desktop_capture_source.cc
Server/Server/rtp.core.522.yuv
Server/enc_temp_folder/2ce1140d68f1b9e5f359369551e2c4/crtp_stream_recv.h
Server/Server/rtp.core.522.*
Server/rtc_player/debug/*.log
Server/Robot/debug/*.log
Server/rtc_player/.vs/rtc_player/v15/Browse.VC.db
Server/rtc_player/client.cfg
Server/rtc_player/log/*.log 
Server/rtc_player/*.log 
Server/rtc_player/*.log
Server/Robot/*.log
Server/Robot/nvEncodeAPI64.dll
Server/rtc_player/video_render.yuv 
Server/enc_temp_folder/22ea6ccf3626047174cc6e6e133da35/crtp_header_extension_uri.cpp
Server/Server/rtp/ 
Server/www/www.7z 
Server/enc_temp_folder/6a63a7a7b55755fe907e4ae328b4c1d0/crtc_transport.cpp 
Server/www/render_name.exe
Server/enc_temp_folder/a1e8f9aceddd3f29344ad2169467afe/crtc_transport.cpp
