*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cipd
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/build
/buildtools
/ios
/mojo
/out
/testing
/third_party
/tools
/tools_webrtc/android/profiling/flamegraph
/tools_webrtc/android/profiling/simpleperf
/tools_webrtc/audio_quality/linux/pesq
/tools_webrtc/audio_quality/linux/PolqaOem64
/tools_webrtc/audio_quality/mac/pesq
/tools_webrtc/audio_quality/win/*.exe
/tools_webrtc/audio_quality/win/*.dll
/tools_webrtc/video_quality_toolchain/linux/ffmpeg
/tools_webrtc/video_quality_toolchain/linux/zxing
/tools_webrtc/video_quality_toolchain/mac/ffmpeg
/tools_webrtc/video_quality_toolchain/mac/zxing
/tools_webrtc/video_quality_toolchain/win/*.dll
/tools_webrtc/video_quality_toolchain/win/*.exe
/rtc_tools/testing/*.zip
/rtc_tools/testing/*.gz
/rtc_tools/testing/golang/*/*.gz
/rtc_tools/testing/golang/*/*.zip
/x86-generic_out/
/xcodebuild
/.vscode
examples/html/simple_demo/node_modules
!webrtc/*

test/*

Server/bin
Server/log
Server/vsout
Server/.vs 
Server/Server/*.dll
server/Server/log

ShareProto/Proto/personTest_pb.js
cache-v2
clion-environment.txt
vcs.xml
Server/.idea/.gitignore
Server/.idea/misc.xml
Server/.idea/modules.xml
Server/cmake-build-debug/CMakeCache.txt
Server/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Server/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Server/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Server/cmake-build-debug/CMakeFiles/clion-log.txt
Server/cmake-build-debug/CMakeFiles/cmake.check_cache
Server/cmake-build-debug/CMakeFiles/CMakeOutput.log
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
Server/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Server/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.o
Server/.idea/.name
Server/cmake-build-debug/cmake_install.cmake
Server/cmake-build-debug/Makefile
Server/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e042d62aaafa30dc6242.json
Server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f9a4f90169faccdba5eb.json
Server/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8cfcf0b2138c5b265970.json
Server/cmake-build-debug/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
Server/cmake-build-debug/.cmake/api/v1/reply/directory-Server-Release-32374a7e03b102ec7378.json
Server/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-17T14-39-27-0635.json
Server/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ff5a8d0393c9d28f40b5.json
Server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Server/cmake-build-debug/CMakeFiles/Makefile.cmake
Server/cmake-build-debug/CMakeFiles/Makefile2
Server/cmake-build-debug/CMakeFiles/progress.marks
Server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Server/cmake-build-debug/Server/cmake_install.cmake
Server/cmake-build-debug/Server/Makefile
Server/cmake-build-debug/Server/CMakeFiles/CMakeDirectoryInformation.cmake
Server/cmake-build-debug/Server/CMakeFiles/progress.marks
Server/www/node_modules
Server/www/logs
Server/chensong.log
Server/www/logs
 
Server/www/app.log
Server/Server/webrtc_offer_1.sdp
Server/www/package-lock.json
Server/Robot/cow.ive
Server/Robot/log
Server/Server/answer2.sdp
Server/Server/answer.sdp
Server/rtc_player/main.cpp.bak
